---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Explorer from '../components/Explorer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Explorer />
  </main>
</Layout>
